{% extends 'base.html' %}

{% block title %}
    {% if object %}
        Редагування курсу "{{ object.title }}"
    {% else %}
        Створити новий курс
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Редагування курсу "{{ object.title }}"
        {% else %}
            Створити новий курс
        {% endif %}
    </h1>
    <div class="module">
        <h2>Інформація про курс</h2>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Зберегти курс"></p>
        </form>
    </div>
{% endblock %}