{% extends 'base.html' %}

{% block title %}Увійти{% endblock %}

{% block content %}
  <h1>Увійти</h1>
  <div class="module">
    {% if form.errors %}
      <p>Ваше ім'я користувача та пароль не збігаються. Спробуйте ще раз.</p>
    {% else %}
      <p>Будь ласка, використайте наступну форму входу:</p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Увійти"></p>
      </form>
    </div>
  </div>
{% endblock %}