{% extends 'base.html' %}

{% block title %}
  {% if  object %}
    Редагувати контент "{{ object.title }}"
  {% else %}
    Додати новий контент
  {%  endif %}
{%  endblock  %}

{% block content %}
  <h1>
    {% if object %}
      Редагувати контент "{{ object.title }}"
  {% else %}
    Додати новий контент
  {%  endif %}
  </h1>
  <div class="module">
    <h2>Інформація про курс</h2>
    <form action="" method="post" enctype="multipart/form-data">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Зберегти контент"></p>
    </form>
  </div>
{% endblock %}
